<article class="post">

  <div class="post-info">
    <h3 class="title">{{title}}</h3>
    <h4 class="timestamp">{{timestamp}}</h4>
    <p class="post-username">
      An anonymous <a href="{{animalUrl}}">{{postedBy}}</a>
    </p>
  </div>

  <div class="content-container">
    <p class="post-content">
      {{postContent}}
    </p>
  </div>

</article>
