<article class="post">

  <h3 class="title">{{title}}</h3>

  <div class="info-container">
    <p class="username">
      <a href="{{animalUrl}}">An anonymous {{postedBy}}&nbsp;</a>
    </p>
    <p class="timestamp">at {{timestamp}}</p>
  </div>

  <div class="content-container">
    <p class="content">
      {{postContent}}
    </p>
  </div>

</article>
