<div class="post-link">
  <h3 class="title"><a href="/posts/{{postid}}">{{title}}</a></h3>
  <div class="info-container">
    <p class="username">
      <a href="{{animalUrl}}">An anonymous {{postedBy}}&nbsp;</a>
    </p>
    <p class="timestamp"> at {{timestamp}}</p>
  </div>
</div>
